<h1>Profile</h1>
<div class='profile'>
	<p>Username: <%= @user.name %></p>
	<p>Email: <%= @user.email %></p>
</div>
<hr>
<div class='wrapper'>

<div class='requested'>
	<h1>Your Requests</h1><br>
	<% @user.requests.each do |request|%>

    	<a href="/request/<%=request.id%>" > You started 
    		Request #<%=request.id %>
		</a>
		<h2>asking for <%=request.amount%> <%=request.item%> </h2>
		<p><%=request.acpt_story%></p>
	<%end%>
</div><hr>

<div class='donated'>
	<h1>Your Donations</h1><br>
	<%@user.donations.each do |donation|%>
	<%#<%@donations.each do |donation|%>
	<h2>you donated:<%=donation.amount%> <%=donation.request.item%> to <%=donation.request.acceptor%></h2>
		<a href="/request/<%=donation.request.id%>">
			<%= donation.request.acpt_story %>
		</a>
	<%end%>
</div>
</div>